<a href="https://colab.research.google.com/github/Lima-Ricardo/Analise-Pandas-Pyspark-GCP/blob/main/Atividade_Individual_Pandas_e_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

In [ ]:
!pip install gcsfs

In [ ]:
!pip install pymongo

In [ ]:
!pip install pandera

In [ ]:
!pip install fsspec

In [ ]:
!pip3 install googletrans==3.1.0a

In [ ]:
!pip install pandera

In [ ]:
import pandas as pd
import numpy as np
from google.cloud import storage
import googletrans 
from googletrans import Translator
from pymongo import MongoClient
from datetime import date
import os
import gcsfs

In [ ]:
#CHAMAR AS BIBLIOTECAS/MÓDULOS NECESSÁRIAS Pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import SparkSession

In [ ]:
#Montando o Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA
serviceAccount = '/content/drive/MyDrive/Acesso GCP/hopeful-list-349119-f034072f7a24.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
#CÓDIGO QUE ACESSA MEU BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
client = storage.Client()

bucket = client.get_bucket('projetoindividual')

bucket.blob('marketing_campaign.csv')

path = 'gs://projetoindividual/Original/marketing_campaign.csv'

In [ ]:
df = pd.read_csv(r'gs://projetoindividual/Original/marketing_campaign.csv', sep=';', encoding='utf-8')

In [ ]:
#Função utilizada para filtrar e calcular a quantidade de resgistros em branco, e a proporção dessa perda antes do ETL.
def dados_perdidos(df):
    perdas = df.isna().sum()
    perdas = perdas[perdas >0 ]
    perdas_proporcionais = perdas/df.shape[0]
    perdas_totais = perdas_proporcionais > 0.05

    return pd.DataFrame({"Perdas" : perdas, "Proporção de perdas" : perdas_proporcionais, "Perdas maiores que 5%" : perdas_totais})


dados_perdidos(df)

        Perdas  Proporção de perdas  Perdas maiores que 5%
Income      24             0.010714                  False

In [ ]:
#Fazendo um backup do dataframe
df1_pt = df.copy()

In [ ]:
#Atribuindo o translator em uma variável
tradutor = Translator()

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  df1_pt.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in df1_pt.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = df1_pt[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
df1_pt.replace(traducoes, inplace = True)

In [ ]:
display(df1_pt)

,EU IRIA,Ano_Nascimento,Educação,Estado civil,Renda,Kidhome,Casa de Adolescentes,Dt_Customer,Recência,MntVinhos,...,NumWebVisitsMonth,AceitoCmp3,AceitoCmp4,AceitoCmp5,AcceptedCmp1,AceitoCmp2,Reclamar,Z_CostContact,Z_Receita,Resposta
0,5524,1957,Graduação,solteiro,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduação,solteiro,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduação,Juntos,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduação,Juntos,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doutorado,Casado,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduação,Casado,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,Doutorado,Juntos,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduação,Divorciado,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Mestre,Juntos,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,Doutorado,Casado,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

In [ ]:
#Corrigindo manualmente a falha de tradução do google translate
colunas_traduzidas = (['ID', 'Ano_Nascimento', 'Escolaridade', 'Estado_civil', 'Renda', 'Qtde_Crianças_no_lar', 'Qtde_Adolescentes_no_lar',
             'Data_do_cadastro', 'Dias_da_ultima_compra', 'Gasto_com_vinho', 'Gasto_com_frutas', 'Gasto_com_carnes', 'Gasto_frutos_do_mar', 'Gasto_com_doces', 
             'Produtos_ouro', 'Compras_com_desconto', 'Compras_online', 'Compras_no_catalogo', 'Compras_na_loja', 'Visitas_no_website', 'campanhas_aceitas_01',
             'Campanhas_aceitas02', 'Campanhas_aceitas_03', 'Campanhas_aceitas_04', 'Campanhas_aceitas_05', 'Reclamações', 'Custo_do_Contato','Receita', 'Oferta_aceita']
    
)
df1_pt.columns = colunas_traduzidas
df1_pt

In [ ]:
#Aplicando replace nos campos que não foram traduzidos corretamente, e corrigindo campos com erro de escrita
df1_pt.replace(to_replace = 'Juntos', value = 'União Estável', inplace=True)
df1_pt.replace(to_replace = 'aquele ciclo', value = 'médio', inplace=True)

In [ ]:
#Aplicando tratamento para os campos nulos
df1_pt.fillna(value = 0, inplace=True)

In [ ]:
#Chamando a função novamente para fazer um novo cálculo apos o ETL.
dados_perdidos(df1_pt)

Empty DataFrame
Columns: [Perdas, Proporção de perdas, Perdas maiores que 5%]
Index: []

In [ ]:
display(df)

In [ ]:
#CHAMAR AS BIBLIOTECAS/MÓDULOS NECESSÁRIAS Pyspark
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, LongType, StringType, FloatType

In [ ]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [ ]:
#Puxando o dataframe tratado em pandas e transformando em um dataframe Pyspark
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
df_spark = spark.createDataFrame(df1_pt)

In [ ]:
df_spark.printSchema()

In [ ]:
#Dropando a colunas ID, Custo do contato, Receita 
df_spark = df_spark.drop(F.col('ID'))
df_spark = df_spark.drop(F.col('Custo_do_Contato'))
df_spark = df_spark.drop(F.col('Receita'))

In [ ]:
#Organizando o schema pelo ano de nascimento
df_spark.orderBy(F.col('Ano_Nascimento').desc()).show(100, truncate=False)

In [ ]:
#Subsituição de valores nulos
df_spark.fillna("NA", subset=['Escolaridade', 'Renda']).show()

In [ ]:
#Verificando a quantidade dos dados duplicados
total = (df_spark.count()) - (df_spark.dropDuplicates().count())
print(total)

0

In [ ]:
#Removendo duplicatas nos resgistros
df_spark.dropDuplicates().count()

2058

In [ ]:
#Criando uma nova coluna com o total de compras feitas
df_spark = (df_spark.withColumn('Total_Compras', F.col('Compras_online') + F.col('Compras_no_catalogo')
            + F.col('Compras_na_loja') + F.col('Compras_com_desconto'))
)

In [ ]:
#Criando uma nova coluna com total de gastos
df_spark = (df_spark.withColumn('Total_Gastos', F.col('Gasto_com_vinho') + F.col('Gasto_com_frutas') + F.col('Gasto_com_carnes')
 + F.col('Gasto_frutos_do_mar') + F.col('Gasto_com_doces') + F.col('Produtos_ouro'))
)

In [ ]:
#Mostrar a escolariade das pessoas e o total de compras
df_spark.groupBy('Escolaridade').sum('total_compras').show()

In [ ]:
#Mostrar a pessoa com a maior renda 
df_spark.orderBy(F.col('Renda').desc()).show()

+--------------+------------+-------------+------+--------------------+------------------------+----------------+---------------------+---------------+----------------+----------------+-------------------+---------------+-------------+--------------------+--------------+-------------------+---------------+------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-----------+-------------+-------------+------------+
|Ano_Nascimento|Escolaridade| Estado_civil| Renda|Qtde_Crianças_no_lar|Qtde_Adolescentes_no_lar|Data_do_cadastro|Dias_da_ultima_compra|Gasto_com_vinho|Gasto_com_frutas|Gasto_com_carnes|Gasto_frutos_do_mar|Gasto_com_doces|Produtos_ouro|Compras_com_desconto|Compras_online|Compras_no_catalogo|Compras_na_loja|Visitas_no_website|campanhas_aceitas_01|Campanhas_aceitas02|Campanhas_aceitas_03|Campanhas_aceitas_04|Campanhas_aceitas_05|Reclamações|Oferta_aceita|Total_Compras|Total_Gastos|
+--------------+------------+-------------+------+--------------------+------------------------+----------------+---------------------+---------------+----------------+----------------+-------------------+---------------+-------------+--------------------+--------------+-------------------+---------------+------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-----------+-------------+-------------+------------+
|          1963|   Graduação|       Casado|dentro|                   0|                       1|      2013-08-11|                   96|            231|              65|             196|                 38|             71|          124|                   1|             6|                  5|              7|                 4|                   0|                  0|                   0|                   0|                   0|          0|            0|         19.0|       725.0|
|          1986|   Graduação|     solteiro|dentro|                   1|                       0|      2013-02-20|                   19|              5|               1|               3|                  3|            263|          362|                   0|            27|                  0|              0|                 1|                   0|                  0|                   0|                   0|                   0|          0|            0|         27.0|       637.0|
|          1983|   Graduação|       Casado|dentro|                   1|                       0|      2013-11-15|                   11|              5|               5|               6|                  0|              2|            1|                   1|             1|                  0|              2|                 7|                   0|                  0|                   0|                   0|                   0|          0|            0|          4.0|        19.0|
|          1951|   Graduação|     solteiro|dentro|                   2|                       1|      2014-01-01|                   96|             48|               5|              48|                  6|             10|            7|                   3|             2|                  1|              4|                 6|                   0|                  0|                   0|                   0|                   0|          0|            0|         10.0|       124.0|
|          1982|   Graduação|     solteiro|dentro|                   1|                       0|      2013-06-17|                   57|             11|               3|              22|                  2|              2|            6|                   2|             2|                  0|              3|                 6|                   0|                  0|                   0|                   0|                   0|          0|            0|          7.0|        46.0|
|          1959|   Doutorado|     solteiro|dentro|                   0|                       0|      2013-11-05|                   80|             81|              11|              50|                  3|              2|           39|                   1|             1|                  3|              4|                 2|                   0|                  0|                   0|                   0|                   0|          0|            0|          9.0|       186.0|
|          1961|   Doutorado|       Casado|dentro|                   0|                       1|      2013-07-11|                   23|            352|               0|              27|                 10|              0|           15|                   3|             6|                  1|              7|                 6|                   0|                  0|                   0|                   0|                   0|          0|            0|         17.0|       404.0|
|          1957|   Doutorado|       Casado|dentro|                   2|                       1|      2012-11-19|                    4|            230|              42|             192|                 49|             37|           53|                  12|             7|                  2|              8|                 9|                   0|                  0|                   0|                   0|                   0|          0|            0|         29.0|       603.0|
|          1957|   Graduação|     solteiro|dentro|                   1|                       1|      2014-05-27|                   45|              7|               0|               8|                  2|              0|            1|                   1|             1|                  0|              2|                 7|                   0|                  0|                   0|                   0|                   0|          0|            0|          4.0|        18.0|
|          1973|      Mestre|União Estável|dentro|                   0|                       0|      2013-11-23|                   87|            445|              37|             359|                 98|             28|           18|                   1|             2|                  4|              8|                 1|                   0|                  0|                   0|                   0|                   0|          0|            0|         15.0|       985.0|
|          1973|         N/E|       Casado|dentro|                   1|                       0|      2012-09-14|                   25|             25|               3|              43|                 17|              4|           17|                   3|             3|                  0|              3|                 8|                   0|                  0|                   0|                   0|                   0|          0|            0|          9.0|       109.0|
|          1989|   Graduação|       Casado|dentro|                   0|                       0|      2013-06-03|                   69|            861|             138|             461|                 60|             30|           61|                   1|             6|                  5|             12|                 3|                   0|                  1|                   0|                   1|                   0|          0|            0|         24.0|      1611.0|
|          1970|   Graduação|     solteiro|dentro|                   1|                       2|      2013-08-23|                   67|            738|              20|             172|                 52|             50|           20|                   6|             2|                  3|             10|                 7|                   0|                  1|                   0|                   1|                   0|          0|            0|         21.0|      1052.0|
|          1970|      Mestre|União Estável|dentro|                   0|                       1|      2013-04-01|                   39|            187|               5|              65|                 26|             20|           14|                   2|             4|                  2|              6|                 5|                   0|                  0|                   0|                   0|                   0|          0|            0|         14.0|       317.0|
|          1958|   Graduação|União Estável|dentro|                   1|                       1|      2012-09-03|                   87|             19|               4|              12|                  2|              2|            6|                   1|             1|                  0|              3|                 5|                   0|                  0|                   0|                   0|                   0|          0|            0|          5.0|        45.0|
|          1964|         N/E|     solteiro|dentro|                   1|                       1|      2014-01-12|                   49|              5|               1|               9|                  2|              0|            4|                   1|             1|                  0|              2|                 7|                   0|                  0|                   0|                   0|                   0|          0|            0|          4.0|        21.0|
|          1972|   Doutorado|União Estável|dentro|                   1|                       0|      2014-03-02|                   17|             25|               1|              13|                  0|              0|            3|                   1|             1|                  0|              3|                 7|                   0|                  0|                   0|                   0|                   0|          0|            0|          5.0|        42.0|
|          1969|      Mestre|União Estável|dentro|                   1|                       1|      2013-05-18|                   52|            375|              42|              48|                 94|             66|           96|                   7|             4|                 10|              4|                 3|                   0|                  0|                   0|                   0|                   0|          0|            0|         25.0|       721.0|
|          1981|   Doutorado|     solteiro|dentro|                   1|                       0|      2013-05-31|                   82|             23|               0|              15|                  0|              2|            7|                   2|             3|                  0|              3|                 6|                   0|                  0|                   0|                   0|                   0|          0|            0|          8.0|        47.0|
|          1971|   Graduação|       Casado|dentro|                   1|                       1|      2013-03-03|                   82|             71|               1|              16|                  0|              0|            9|                   4|             2|                  1|              3|                 8|                   0|                  0|                   0|                   0|                   0|          0|            0|         10.0|        97.0|
+--------------+------------+-------------+------+--------------------+------------------------+----------------+---------------------+---------------+----------------+----------------+-------------------+---------------+-------------+--------------------+--------------+-------------------+---------------+------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-----------+-------------+-------------+------------+
only showing top 20 rows

In [ ]:
#Mostrar quem gastou gastou mais
df_spark.orderBy(F.col('total_gastos').desc()).show()

In [ ]:
#Mostrar a qtde de pessoas e seu nivel de escolaridade
df_spark.groupBy('Escolaridade').count().show()

+------------+-----+
|Escolaridade|count|
+------------+-----+
|   Doutorado|  486|
|      Mestre|  370|
|         N/E|  203|
|      Básico|   54|
|   Graduação| 1127|
+------------+-----+

In [ ]:
#Mostrar a média da Renda e o nivel de escolaridade
df_spark.groupBy('Escolaridade').agg(F.avg('Renda')).show()

+------------+-----------------+
|Escolaridade|       avg(Renda)|
+------------+-----------------+
|   Doutorado|56145.31392931393|
|      Mestre|52917.53424657534|
|         N/E|         47633.19|
|      Básico|20306.25925925926|
|   Graduação|52720.37365591398|
+------------+-----------------+

In [ ]:
#Transformando o dataframe Pyspark em csv
df_spark.toPandas().to_csv('gs://projetoindividual/Tratado/campanha_marketing.csv', index=False)

In [ ]:
#Trazendo do meu Bucket o novo csv que está tratado 
path_tratado = 'gs://projetoindividual/Tratado/campanha_marketing.csv'

In [ ]:
# Transformando novamente o csv tratado em um dataframe
df_tratado = pd.read_csv(path_tratado, sep=',')

In [ ]:
#Conectando com o mongoDB
client = MongoClient ('mongodb://ricardo_lima:VfzKOzOkshFoRTR7@cluster0-shard-00-00.dvp4c.mongodb.net/test?replicaSet=atlas-13o8k2-shard-0&ssl=true&authSource=admin')

In [ ]:
#Acessando meu DB
db = client['soulcode']

In [ ]:
#Criando minha colection
collection = db['projeto_individual']

In [ ]:
#Fazendo a conversão para dicionário
df_dicio = df_tratado.to_dict("records")

In [ ]:
#inserindo no Mongo
collection.insert_many(df_dicio)